@import "_base", "_functions", "_layout", "_mixins", "_typography", "_utils",
  "_variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  franzone-app {
    router-outlet + * {
      margin-top: $headerHeight;
      overflow-y: auto;
    }
  }
}
